/* custom rules */

.container {
  max-width: 680px;
}

.post {
  margin-bottom: 120px;
}

/* --- */

body  {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  color: #2c3e50;
  border-top: 10px solid #8B653F;
}

h1, h2, h3, h4 {
  font-family: 'Museo', sans-serif;
  color: #27ae60;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

  @media (min-width: 550px) {
    h1 {
      font-size: 8rem;
      font-weight: 900;
    }
  }

h2 {
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-weight: 500;
  font-style: italic;
}

h4 {
  font-weight: 500;
  font-style: italic;
  color: #8B653F;
}


/* lists */

li {
  list-style-position: outside;
}

.posts p,
.posts li {
  font-size: 1.8rem;
}

@media (min-width: 550px) {
  .bigger p,
  .bigger li {
    font-size: 2.3rem;
  }
}

/* links */
a:link, a:visited, a:active {
  text-decoration: none;
  border-bottom: 1px solid #bdc3c7;
  color: #f39c12;
}

a:hover {
  background: #F6D965;
  border: none;
  color: #222;
}
  a.site-avatar:hover {
    background: none;
  }

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/* masthead */

.wrapper-masthead {
  margin-bottom: 90px;
  padding-top: 90px;
}
.wrapper-masthead a:link {
  border-bottom: none;
}
  .wrapper-masthead h1 {
    text-transform: uppercase;
  }
/* avatar */

.site-avatar {
  float: none;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding: 0 0 15px 0;
}

  /*@media (min-width: 700px) {
    .site-avatar {
      float: left;
      display: inline;
      margin-right: 15px;
    }
  }*/

  .site-avatar img {
    border-radius: 5%;
  }

/* site info */
.site-info {
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  }

  /*@media (min-width: 700px) {
    .site-info {
      float: left;
      display: inline;
      text-align: left;
  }
}*/

/* nav */

nav {
  float: none;
  margin-top: 9px;
  display: block;
  text-align: center;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
  font-size: 2rem;
}

  nav a {
    margin: 0 10px;
  }

  /*@media (min-width: 700px) {
    nav {
      float: right;
      display: inline;
      margin-top: 23px;
      text-align: left;
    }*/


/* footer */

.footer {
  text-align: center;
}
